/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fdfdfd;
}

/* background image */
.hero {
  background-image: url(dubai.jpg);

  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
   /* background-color: rgba(6, 0, 0, 0.5); */
  padding: 2rem;
  text-align: center;
  color: #fff; 
  border-radius: 10px;
  position: absolute;
  right: 60%;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5rem;
}

/* Main content */
main {
  padding: 2rem;
}

.about, .experiences {
  margin-bottom: 2rem;
}

.about h2, .experiences h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2980b9;
}

.about p {
  font-size: 1.1rem;
  max-width: 800px;
}

.experiences ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.experiences li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  font-size: 0.9rem;
}
.topnav {
    background-color: opacity .3;
    overflow: hidden;
    align-items: center;
}

.topnav a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #edb9b9;
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #f04343;
    color: white;
}

.experiences {
      text-align: center;
      padding: 3rem 10%;
      background-color: #f5f0e8;
}

.experiences h2 {
      font-size: 1.8rem;
      color: #7a1717;
      margin-bottom: 2rem;
}

.experience-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
      justify-items: center;
    }

 .experience {
      text-align: center;
      max-width: 220px;
    }

.experience img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .experience p {
      margin-top: 0.8rem;
      font-weight: 500;
      color: #7a1717;
    }