.html {
    background-color: black;
}

/* Light-Dark Mode Funct. Section */
body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}



/* Section for top navigational bar */
.topnav {
    background-color: #f7f7f7;
    overflow: hidden;
    align: right;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.topnav a:hover {
    background-color: #edb9b9;
    color: black;
}

.topnav a.active {
    background-color: #f04343;
    color: white;
}

/* Section for Carousel at top of Page */

.carousel {
    position: relative;
    height: 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: inline-block;
}

.carousel .carousel-track {
    display: flex;
    height: 100%;
    width: 100%;
}

.carousel .carousel-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
    border-radius: 10px;
}

/* Carousel Overlay Text */

.carousel .overlaytext {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: #fff;
    padding: 50px 25px;
    font-size: 20px;
    text-align: center;
}


